$op-white: rgba(255, 255, 255, .89);

body,
html {
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'helvetica neue', helvetica, sans-serif;
  font-weight: 300;

  * {
    box-sizing: border-box;
  }
}

.main {
  float: left;
  width: 100%;
  height: 100vh;
  padding-bottom: 80px;

  &--footer {
    height: 65px;
    float: left;
    width: 100%;
    margin-top: -65px;
    background: #333;
    color: #fff;
    padding: 10px 15px;
  }
}

.footer {
  color: $op-white;

  &--nav {
    float: left;
    margin-top: 12px;
    width: 100%;
    text-align: center;

      a {
        text-decoration: none;
        color: $op-white;
        font-size: 13px;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
  }
}

.header {
  width: 100%;
  background: #333;
  color: $op-white;
  float: left;
  padding: 36px 15px 16px;
  text-align: center;

  &--logo {
    max-width: 232px;
    max-height: 35px;
    width: 100%;
    height: 100%;
  }
}

.downloads {
  width: 100%;
  padding: 20px 13px;
  float: left;
}

.progress {
  width: 100%;
  float: left;
  margin: 0 0 13px;

  &--title {
    float: left;
    width: 100%;
    margin-bottom: 3px;
    padding: 0 1px;

    &--name, 
    &--size {
      float: left;
      color: #333;
    }

    &--size {
      float: right;
      font-size: 12px;
      color: #777;
    }

    &--name {
      font-weight: 400;
      font-size: 13px;
    }
  }

  &--holder {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 28px;
    position: relative;
  }

  &--bar {
    position: absolute;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    background: #43B1E6;
    border-radius: 5px 0 0 5px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
    min-width: 3px;
  }

  &--controls {
    position: absolute;
    right: -1px;
    top: -1px;
    background: #444;
    border-radius: 0 5px 5px 0;
    z-index: 2;
    height: calc(100% + 2px);
    width: 29px;
    -webkit-transition: all .08s ease-in-out;
    -moz-transition: all .08s ease-in-out;
    transition: all .08s ease-in-out;

    &:hover {
      background: #222;
    }
    
    &--btn {
      display: block;
      width: 100%;
      text-align: center;
      padding: 6px;

      img {
        width: 14px;
        height: 14px;
      }
    }
  }
}

.add-file-btn {
  width: 50%;
  margin: 20px 25%;
  float: left;
  background: #43B1E6;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .08s ease-in-out;
    -moz-transition: all .08s ease-in-out;
    transition: all .08s ease-in-out;

  &:hover {
    background: darken(#43B1E6, 10%);
  }
}
